body {
    margin: 20px;
}

.product-scraper-config {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 700px;
}

.product-scraper-config .search-bar {
    width: 700px;
}

.product-scraper-config .search-config {
    width: 350px;
}

.product-scraper-config .search-bar-btn {
    width: 100px;
}